.chamada {
    padding-top: 5.5rem;
    margin-bottom: 2.5rem;
    background-image: url("../../aseets/img/splash-rosa-cabecalho.svg");
    background-position: top -4rem right;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;

}

.chamada__texto {
    width: 12.5rem;
    margin-bottom: 1.55rem;
}

.chamada__imagem {
    position: absolute;
    top: 14.25rem;
    right: 0;
    width: 10rem;
    
    
}

.chamada__formulario {
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 320px) {
    .chamada__imagem {
        display: none;
    }
}

@media screen and (min-width: 375px) {
    .chamada__imagem {
        width: 10.375rem;
        top: 11.25rem;
        left: 13rem;
       
    }
}

@media screen and (min-width: 425px) {
    .chamada__imagem {
        width: 13.375rem;
        top: 11.25rem;
    }
}

@media screen and (min-width: 768px) {
    .chamada__imagem {
        width: 20rem;
        top: 5.25rem;
        left: 23rem;
    }
}